.add-host-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.add-host-form > label > input {
    margin: 10px;
    font-size: 15pt;
    padding: 10px;
}

button {
    padding: 10px;
    font-size: 15pt;
    margin: 10px;
}